POSTGRES_DB=netpc
POSTGRES_USER=netpc
POSTGRES_PASSWORD=netpc

ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_HTTP_PORTS=8082

JWT_SECRET_KEY=your_secret_key_here
JWT_ISSUER=your_issuer_here
JWT_AUDIENCE=your_audience_here
JWT_ACCESS_TOKEN_EXPIRATION_MINUTES=60
JWT_REFRESH_TOKEN_EXPIRATION_DAYS=7